@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-nunito), system-ui, sans-serif;
}

body {
  font-family: var(--font-nunito), system-ui, sans-serif;
}
